@import 'tailwindcss';

@import 'preline/variants.css';
@source "./node_modules/preline/dist/*.js";

@theme {
  --color-primary: #7c00fe;
  --color-text: white;
  --color-base-100: #000000;
  --color-base-200: #0a0a0a;
  --color-base-300: #1a1a1a;
  --color-card: rgba(0, 0, 0, 0.3);

  --radius-input: 0.3rem;
  --radius-card: 0.3rem;

  --height-container: calc(100svh - 4.5rem);
}

/* Optional Preline UI Datepicker Plugin */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Plugins */
/* @plugin "@tailwindcss/forms"; */
